@font-face {
    font-family: 'Dancing Script';
    src: url('fonts/Dancing_Script/static/DancingScript-Regular.ttf') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Fragment Mono';
src: url('fonts/Fragment_Mono/FragmentMono-Regular.ttf') format('woff2');
font-weight: normal;
font-style: normal;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --title-font: "Dancing Script", cursive;
    --content-font: 'Fragment Mono', monospace;
    --content-background-colour: rgba(0, 0, 0, 0.8);
    --main-margin: 3rem;
}

body {
    background-image: url("./images/background.jpg");
    background-attachment: fixed;
    background-size: cover;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: none;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--content-background-colour);
    padding: 2rem;
    font-family: var(--title-font);
    font-size: 2.2rem;
}

.title {
    margin-bottom: 1rem;
}

.nav-button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    transition: transform 0.3s ease;
}

.nav-button:hover {
    transform: translateY(-0.5rem);
}

#home {
    display: flex;
    flex-direction: column;
}

.home-description,
.home-hours,
.home-location {
    background: var(--content-background-colour);
    font-family: var(--content-font);
    /* margin-bottom: 2rem; */
    text-align: center;
    border-radius: 10px;;
}

.home-header {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.container {
    width: clamp(30rem, 50rem, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

.container:first-child {
    margin-top: var(--main-margin);
}
.container:nth-child(2) {
    margin: 2rem auto;
}

.container:last-child {
    margin-bottom: var(--main-margin);
}

.hours {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--content-background-colour);
    height: 30px;
    margin-top: auto;

    font-family: var(--content-font);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover {
    text-decoration: underline;
}