@font-face {
    font-family: 'Dancing Script';
    src: url('fonts/Dancing_Script/static/DancingScript-Regular.ttf') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family: 'Fragment Mono';
src: url('fonts/Fragment_Mono/FragmentMono-Regular.ttf') format('woff2');
font-weight: normal;
font-style: normal;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-font: "Dancing Script", cursive;
    --content-font: 'Fragment Mono', monospace;
}


body {
    background-image: url("./images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    font-family: var(--title-font);
    color: white;
    font-size: 2.2rem;
}

.title {
    margin-bottom: 1rem;
}

.nav-button {
    background: none;
    border: none;
    padding: 0.8rem 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: white;
    transition: transform 0.3s ease;
}

.nav-button:hover {
    transform: translateY(-0.5rem);
}